.login{
  margin-left: calc((100% - 500px)/2);
  margin-top: 150px;


  label,
  button
  {
    font-weight: bold;
  }

  .login-form{
    /*width: 100%;*/
    width: 500px;
    background: #d3d3d3;
    border: 4px ridge #007bff;
    text-align: left;
    font-size: 15px;
    padding: 15px;
  }
}
