<div class="booking-excursions  row">
  <div class="col-md-2 col-sm-2 col-lg-2" >
    <h2 style="color: #eeeeee">
    <p>Онлайн бронирование экскурсии только для туристических фирм!</p>
    <p>Выбранное время экскурсии не является окончательным. Дождитесь  подтверждения бронирования.</p>
    <p>Максимальное количество человек на 1 час – 45 человек.</p>
    <p>Заявка на оплату принимается за 5 дней до посещения. В ином случаи
    ваша бронь аннулируется.</p>
    <p>ПОНЕДЕЛЬНИК – ВЫХОДНОЙ</p> </h2>
    <div class="modal fade" bsModal #modal="bs-modal"
         tabindex="-1" role="dialog" aria-labelledby="dialog-events-name"
         (onShow)="handler('onShow', $event)"
         (onShown)="handler('onShown', $event)"
         (onHide)="handler('onHide', $event)"
         (onHidden)="handler('onHidden', $event)">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-events-name" class="modal-title pull-left">Заказать экскурсию</h4>
            <button type="button" class="close pull-right btn-close" aria-label="Close" (click)="modal.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="customerDate" class="form-label">Дата и время</label>
                  <input type="text" class="form-control" id="customerDate" [formControl]="selectedDate">
                <div class="mb-3">
                  <select class="form-select">
                    <option selected>Выберите время</option>
                    <option value="10:00:00">10:00 - 11:00</option>
                    <option value="11:00:00">11:00 - 12:00</option>
                    <option value="12:00:00">12:00 - 13:00</option>
                    <option value="13:00:00">13:00 - 14:00</option>
                    <option value="14:00:00">14:00 - 15:00</option>
                    <option value="15:00:00">15:00 - 16:00</option>
                    <option value="16:00:00">16:00 - 17:00</option>
                    <option value="17:00:00">17:00 - 18:00</option>
                  </select>
                </div>
              </div>
              <select class="form-select mb-3" aria-label="Default select example">
                <option selected>Выберите объект</option>
                <option value="1">Старый замок</option>
                <option value="2">Новый Замок</option>
              </select>
              <div class="mb-3">
                <label for="customerGroupCount" class="form-label">Укажите общее количество</label>
                <input type="text" class="form-control" id="customerGroupCount">
              </div>
              <div class="mb-3">
                <label for="customerOld" class="form-label">Укажите количество взрослых</label>
                <input type="text" class="form-control" id="customerOld">
              </div>
              <div class="mb-3">
                <label for="customerPensioner" class="form-label">Укажите количество пенсионеров</label>
                <input type="text" class="form-control" id="customerPensioner">
              </div>
              <div class="mb-3">
                <label for="customerStudent" class="form-label">Укажите количество студентов, учащихся</label>
                <input type="text" class="form-control" id="customerStudent">
              </div>
              <div class="mb-3">
                <label for="customerPupil" class="form-label">Укажите количество школьников (дети с 7 лет)</label>
                <input type="text" class="form-control" id="customerPupil">
              </div>
              <div class="mb-3">
                <label for="customerToddler" class="form-label">Укажите количество дошкольников (дети до 7 лет)</label>
                <input type="text" class="form-control" id="customerToddler">
              </div>
              <div class="mb-3">
                <label for="customerLgotniki" class="form-label">Укажите количествоk льготников</label>
                <input type="text" class="form-control" id="customerLgotniki">
              </div>
              <div class="mb-3">
                <label for="customerName" class="form-label">Укажите название организации</label>
                <input type="text" class="form-control" id="customerName">
              </div>
              <div class="mb-3">
                <label for="customerAdress" class="form-label">Укажите юридический адрес</label>
                <input type="text" class="form-control" id="customerAdress">
              </div>
              <div class="mb-3">
                <label for="customerUNP" class="form-label">Укажите УНП</label>
                <input type="text" class="form-control" id="customerUNP">
              </div>
              <div class="mb-3">
                <label for="customerCash" class="form-label">Укажите рачетный счёт</label>
                <input type="text" class="form-control" id="customerCash">
              </div>
              <div class="mb-3">
                <label for="customerContacts" class="form-label">Укажите контакты</label>
                <input type="text" class="form-control" id="customerContacts">
              </div>
              <div class="mb-3">
                <label for="customerInputEmail" class="form-label">Укажите e-mail</label>
                <input type="email" class="form-control" id="customerInputEmail">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="modal.hide()">Сохранить</button>
                <button type="button" class="btn btn-secondary" (click)="modal.hide()">Отмена</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="calendar-panel col-md-10 col-sm-10 col-lg-10">
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>

  <!-- modal section -->



</div>
