/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */


@import "./styles/fontawesome/scss/fontawesome";
@import "./styles/fontawesome/scss/brands";
@import "./styles/fontawesome/scss/solid";
@import "./styles/fontawesome/scss/regular";
@import "./styles/bootstrap-icons/bootstrap-icons";
@import "./styles/components/booking-excursions";
@import 'bootstrap/scss/bootstrap';


/*  Main options  */

body{
  background-color: #343a40;
  font: 12px/24px Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 15px;

  .container{
    max-width: 100%;
  }

  .fc .fc-col-header-cell-cushion,
  .fc .fc-daygrid-day-number,
  .fc .fc-timegrid-slot-label-cushion
  {
    color: #000000;
  }
}


